h1 {
    text-align: center;
    margin: 20px 20px;
    text-decoration: underline;
}

ul {
    list-style-type: none;
}

#react-root {
    width: 100%;
}

#app {
    width: 100%;
    display: flex;
    max-height: 90vw;
}

#stats {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#nav-tree {
    width: 300px;
    height: 500px;
    overflow: auto;
    border: 1px solid #ddd;
}

li.clickable{
    margin: 8px;
    font-weight: bold;
}

li.clicked::before {
    content: '>> ';
}

li.clickable:hover {
   cursor: pointer;
}

#stats table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 50%;
    margin-bottom: 100px;
}

#stats table td, #stats table th {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
}

#stats table tr:nth-child(even){background-color: #f2f2f2;}

#stats table tr:hover {background-color: #ddd;}

#stats table th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #4CAF50;
    color: white;
}